# idea files #
.idea/
*.iml

# nohup output #
nohup.out

# linux temp files #
*~

# logs files #
*.log.lck
*.log

# git diff and patch files #
*.diff
*.patch

# dependencies
/node_modules

# coverage files
/.nyc_output
/coverage

# build
/dist
