# idea files #
.idea/
*.iml

# nohup output #
# nohup.out # TODO: uncomment

# linux temp files #
*~

# logs files #
*.log.lck
*.log

# git diff and patch files #
*.diff
*.patch

/node_modules
/coverage

# build
# /dist # TODO: uncomment
